root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

# Go文件特定配置
[*.go]
indent_style = tab
indent_size = 4
insert_final_newline = true

# JSON文件配置
[*.json]
indent_style = space
indent_size = 2

# YAML文件配置
[*.yml]
indent_style = space
indent_size = 2

[*.yaml]
indent_style = space
indent_size = 2
